body {
    margin: 20px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Tiny5", sans-serif;
    background-color: #fbbc05;
    font-size: 20px;
}

.avatar {
    width: 180px;
}

.card {
    width: 400px;
    /* 
    Challenge:
    Replace the two margin properties with a 
    single margin shorthand.
    */
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
  
    display: flex;
    justify-content: space-between;
    text-align: left;
    background:#ffffff;
    color: #2b2839;
    border-bottom: 6px solid #f0fc30;
    border-radius: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    padding-right: 30px;

}



.name, .role, .address {
    margin: 0px;
}

.role {
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.8px;
    border-bottom: 8px dotted #fbbc05;
    /* font-family: "Londrina Shadow", sans-serif; */
}



.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 24px),
    8px calc(100% - 24px),
    8px calc(100% - 16px),
    16px calc(100% - 8px),
    24px calc(100% - 8px),
    24px 100%,
    calc(100% - 24px) 100%,
    calc(100% - 24px) calc(100% - 8px),
    calc(100% - 16px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 16px),
    calc(100% - 8px) calc(100% - 24px),
    100% calc(100% - 24px),
    100% 24px,
    calc(100% - 8px) 24px,
    calc(100% - 8px) 16px,
    calc(100% - 16px) 8px,
    calc(100% - 24px) 8px,
    calc(100% - 24px) 0px,
    24px 0px,
    24px 8px,
    16px 8px,
    8px 16px,
    8px 24px,
    0px 24px);
  position: relative;
}
.pixel-corners {
  border: 8px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(8px 24px,
    16px 24px,
    16px 16px,
    24px 16px,
    24px 8px,
    calc(100% - 24px) 8px,
    calc(100% - 24px) 16px,
    calc(100% - 16px) 16px,
    calc(100% - 16px) 24px,
    calc(100% - 8px) 24px,
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 16px) calc(100% - 24px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 24px) calc(100% - 16px),
    calc(100% - 24px) calc(100% - 8px),
    24px calc(100% - 8px),
    24px calc(100% - 16px),
    16px calc(100% - 16px),
    16px calc(100% - 24px),
    8px calc(100% - 24px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 24px),
    8px calc(100% - 24px),
    8px calc(100% - 16px),
    16px calc(100% - 8px),
    24px calc(100% - 8px),
    24px 100%,
    calc(100% - 24px) 100%,
    calc(100% - 24px) calc(100% - 8px),
    calc(100% - 16px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 16px),
    calc(100% - 8px) calc(100% - 24px),
    100% calc(100% - 24px),
    100% 24px,
    calc(100% - 8px) 24px,
    calc(100% - 8px) 16px,
    calc(100% - 16px) 8px,
    calc(100% - 24px) 8px,
    calc(100% - 24px) 0px,
    24px 0px,
    24px 8px,
    16px 8px,
    8px 16px,
    8px 24px,
    0px 24px,
    0px 50%,
    8px 50%,
    8px 24px,
    16px 24px,
    16px 16px,
    24px 16px,
    24px 8px,
    calc(100% - 24px) 8px,
    calc(100% - 24px) 16px,
    calc(100% - 16px) 16px,
    calc(100% - 16px) 24px,
    calc(100% - 8px) 24px,
    calc(100% - 8px) calc(100% - 24px),
    calc(100% - 16px) calc(100% - 24px),
    calc(100% - 16px) calc(100% - 16px),
    calc(100% - 24px) calc(100% - 16px),
    calc(100% - 24px) calc(100% - 8px),
    24px calc(100% - 8px),
    24px calc(100% - 16px),
    16px calc(100% - 16px),
    16px calc(100% - 24px),
    8px calc(100% - 24px),
    8px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -8px;
}




.border-blue {
    border: 1px dotted blue;
}